html {
    background-color: white;
}

body {
    font-family: sans-serif, Arial;
    color: black;
}

header{
    background-color: #f5eacd;
    text-align: center;
    height: 100px;
    margin-bottom: 10px;
}

header h1{
    color: black;
    height: 50px;
    padding-top: 25px;
}


section {
    border: 2px, solid, black;
    border-radius: 10px;
    height: 75vh;
    width: 49vw;
    background-color: #cfe8ef;
}


.left{
    float: left;
}

.right{
    float: right;
}

section p{
    margin: 10px;

}
