#form{
    width: 100%;
    height: 60vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cfe8ef;
   
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    padding-left: 1%;
    padding-right: 1%;
}

html, body {
  height: 100%;
  margin: 0;   
}

header{
    background-color: #f5eacd;
    text-align: center;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 0px;
}

label{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #fffaed;
    border: 2px solid;
    border-color: #a6a0ba;
    border-radius: 9999px;
    padding: 8px;
    font-weight: bold;

}

html{
    background-color: #fffaed;
}
#navbar li {
  color: rgb(234, 138, 138);
  font-weight: bold;
}

nav {
  width: auto;                  
  background-color: #cfe8ef;      
  border-radius: 15px;          
  padding: 40px;  
  margin-bottom: 10px;    
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #fffaed;
    border: 2px solid;
    border-color: #a6a0ba;
    border-radius: 9999px; 
    padding: 10px 20px;     
    display: inline-block;  
    transition: background-color 0.15s ease, transform 0.12s ease;
    font-weight: bold;
}
nav ul li{
    text-transform: none;
    padding-right:  0;
}


nav ul li a:hover {
    background-color: #f2efe6;
    transform: translateY(-2px);
}

section > form#emailForm {
    flex: 1 1 auto; 
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

section > form fieldset {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /
}
input[type = "submit"]{
    background-color: #fffaed;
    border: 2px solid;
    border-color: #a6a0ba;
    border-radius: 12px;
    padding: 8px;
    font-weight: bold;
}

section > form fieldset > label,
section > form fieldset > br {
    flex: 0 0 auto;   
  align-self: flex-start; 
}


.goalname{
    color: black;
    height: 50px;
    margin-top: 25px;
    display: inline;
}

.logo {
    width: 10%;
    height: 10%;
    float: right;
}


.quote {
    background-color: #f5eacd;
    text-align: center;
    height: 50px;
    padding-top: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    border: 2px, black, solid;
}



.left, .right{
    border: 2px, solid, black;
    border-radius: 10px;
    height: 150vh;
    width: 48vw;
    background-color: #cfe8ef;
}

.banner {
    border: 2px, solid, black;
    border-radius: 30px;
    height: 55vh;
    width: 95vw;
    background-color: white;
    display: block;
    padding-top: 60px;
    margin-left: 42px;
}

#search-bar {
    border-radius: 9999px;
    font-size: large;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid;
    margin-left: 30vw;
}


.btn {
    border-radius: 10px;
    font-size: larger;
}

.banner {
    border: 2px, solid, black;
    border-radius: 30px;
    height: 55vh;
    width: auto;
    background-color: white;
    display: block;
    padding-top: 60px;
    margin-left: 0px;
}



@media  only screen and (max-width:786px){
    nav ul{
        list-style:none;
        display: block;
    }
    nav ul li{
        display: block;
    }
    .menu-toggle{
        display: block;
    }
   
}


.left {
    float: left;
}


.right {
    float: right;
    margin-right: 0;
}

#footer_external {
    background-color: #cfe8ef;
    text-align: center;
    font-size: 1.0em;
    padding-top: 10px;
    margin-top: 150vh;
}

#footer_external li {
    list-style: none;
    display: inline-block;
    padding: 23px 20px;
    padding-inline: 151px;
}

#footer_external li a {
    display: flex;
    font-weight: bold;
    font-size: x-large;
    color: black;
}

#navSection{
  display: flex;        
  gap: 20px;              
  flex-wrap: wrap;        
}
#navSections{
 flex: 1;               
  border: 1px solid #ccc; 
  padding: 10px;
}
