#navigation-bar li {
    color: rgb(234, 138, 138);
    font-weight: bold;
}

.logo {
    width: 10%;
    height: 10%;
    float: right;
}


nav {
    width: 100%;
    background-color: #cfe8ef;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 100px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;
}


nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    background-color: #fffaed;
    border: 2px solid;
    border-color: #a6a0ba;
    border-radius: 9999px;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.15s ease, transform 0.12s ease;
    font-weight: bold;
}

nav ul li {
    text-transform: none;
    padding-right: 0;
}

nav ul li a:hover {
    background-color: #f2efe6;
    transform: translateY(-2px);
}

nav ul li.logo a {
    background-color: black;
    font-size: xx-large;
    color: white;
    border-color: black;
}

nav ul li.logo a:hover {
    background-color: darkgray;
    transform: translateY(-2px);
}


#search-bar {
    border-radius: 9999px;
    font-size: large;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid;
    margin-left: 720px;
}

.btn {
    border-radius: 10px;
    font-size: larger;
}

.banner {
    border: 2px, solid, black;
    border-radius: 30px;
    height: 55vh;
    width: 95vw;
    background-color: white;
    display: block;
    padding-top: 60px;
    margin-left: 42px;
}

.left,
.right {
    border: 2px, solid, black;
    border-radius: 10px;
    height: 55vh;
    width: 24vw;
    background-color: white;
    margin-left: 100px;
}


.left {
    float: left;
}


.right {
    float: right;
    margin-right: 170px;
}



#footer_external {
    background-color: #cfe8ef;
    text-align: center;
    font-size: 1.0em;
    padding-top: 10px;
    margin-top: 650px;
}

#footer_external li {
    list-style: none;
    display: inline-block;
    padding: 23px 20px;
    padding-inline: 151px;
}

#footer_external li a {
    display: flex;
    font-weight: bold;
    font-size: x-large;
    color: black;
}