.navigation-bar {
    margin-left: auto;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}

.navigation-bar :hover {
    color: black;
    text-decoration: aliceblue;
}


#hamburger-icon {
    float: left;
    display: block;

}

#footer_external {
    word-spacing: 15px;
    border-radius: 20px;
    border-style: black;
}