#navbar li {
    color: rgb(234, 138, 138);
    font-weight: bold;
}

nav {
    width: 100%;
    background-color: #cfe8ef;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 100px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #fffaed;
    border: 2px solid;
    border-color: #a6a0ba;
    border-radius: 9999px;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.15s ease, transform 0.12s ease;
    font-weight: bold;
}

nav ul li {
    text-transform: none;
    padding-right: 0;
}


nav ul li a:hover {
    background-color: #f2efe6;
    transform: translateY(-2px);
}


#hamburger-icon {
    float: left;
    display: block;

}

#footer_external {
    word-spacing: 15px;
    border-radius: 20px;
    border-style: black;
}