#form{
    width: 100%;
    height: 60vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cfe8ef;
   
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    padding-left: 1%;
    padding-right: 1%;
}

html, body {
  height: 100%;
  margin: 0;   
}

header{
    background-color: #f5eacd;
    text-align: center;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 0px;
}

label{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #fffaed;
    border: 2px solid;
    border-color: #a6a0ba;
    border-radius: 9999px;
    padding: 8px;
    font-weight: bold;

}

html{
    background-color: #fffaed;
}
#navbar li {
  color: rgb(234, 138, 138);
  font-weight: bold;
}

nav {
  width: auto;                  
  background-color: #cfe8ef;      
  border-radius: 15px;          
  padding: 40px;  
  margin-bottom: 10px;    
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #fffaed;
    border: 2px solid;
    border-color: #a6a0ba;
    border-radius: 9999px; 
    padding: 10px 20px;     
    display: inline-block;  
    transition: background-color 0.15s ease, transform 0.12s ease;
    font-weight: bold;
}
nav ul li{
    text-transform: none;
    padding-right:  0;
}


nav ul li a:hover {
    background-color: #f2efe6;
    transform: translateY(-2px);
}

section > form#emailForm {
    flex: 1 1 auto; 
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

section > form fieldset {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /
}
input[type = "submit"]{
    background-color: #fffaed;
    border: 2px solid;
    border-color: #a6a0ba;
    border-radius: 12px;
    padding: 8px;
    font-weight: bold;
}

section > form fieldset > label,
section > form fieldset > br {
    flex: 0 0 auto;   
  align-self: flex-start; 
}


.goalname{
    height: 50px;
    margin-left: 10%;
    display: inline;
    color: white;
}

.goalspace {
    display: inline;
}

.goallogo {
    width: 10%;
    height: 100%;
    float: right; 
}

.logospace {
    display: inline;
}

.info {
    padding: 10px;
}

.quote {
    background-color: #f5eacd;
    text-align: center;
    height: 50px;
    padding-top: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    border: 2px, black, solid;
}

.goalleft, .goalright{
    border: 2px, solid, black;
    border-radius: 10px;
    height: 150vh;
    width: 48vw;
    background-color: #cfe8ef;
}

.goalleft{
    float: left;
}

.goalright{
    float: right;
}

.displayimg {
    height: 38%;
    width: 38vw;
    margin-left: 5vw;
    border: 2px, black, solid;
    border-radius: 10px;
}

/* goal 1 specifics */

.watercolour {
    background-color: #007dbd;
}

/* goal 2 specifics */

.energycolour {
    background-color: #fcb712;
}

/* goal 3 specifics */

.hungercolour {
    background-color: #d3a02a;
}
